@media screen and (max-width: 600px) {
    .header-section {
        flex-direction: column;
    }
    .anchor-container{
        width: 350px;
        margin-left: 0 auto;
    }
    .banner-title{

    }
    .tour-container{
        flex-direction: column;
    }
    .tour-container-titleber{
        width: 370px;
    }
    .btn-primary{
       padding: 0px 50px;
    }
    .tour-container-photo img{
        width: 375px;
        margin: 0 auto;
    }
    .destination-photo{
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
    }
    
}