@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mulish:wght@400;700;800&family=Open+Sans:wght@400;700;800&family=Salsa&family=Work+Sans:wght@400;600;700;800&display=swap')

*{
    font-family: 'Mulish', sans-serif;
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
/* header styles start */

.header-section{
    width: 1100px;
    margin: 0px auto;
    display: flex;
}
.header-container{
    display: flex;
    gap: 10px;
    width: 50%;
    align-items: center;
}
.header-container img{
    width: 80px;
}
.header-container p{
    font-size: 2rem;
    font-weight: 800;
    color: rgba(19, 19, 24, 1);
}
.special{
    color: rgba(255, 84, 0, 1);
}
.anchor-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    color: rgba(66, 66, 71, 1);
}
.anchor-container a{
    text-decoration: none;
}
.home{
    color:rgba(255, 84, 0, 1) ;
}
/* header style end */
.banner-container{
    background-image: url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 1100px;
    margin: 0px auto;
    text-align: center;
    border-radius: 10px;
}
.banner-title{
    padding: 120px 280px 0px 280px;
    font-weight: 800;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
    box-shadow: inset;
    margin:0px;
}
.banner-description{
    padding: 20px 240px 0px 240px;
    color: rgba(255, 255, 255, 1);
    margin: 10px;
    box-shadow: inset;
}
.banner-input{
    padding: 50px 150px 106px 150px;
}
.banner-input input{
    width: 20%;
    border: none;
    padding: 15px;
}
